@model List<Blog.Models.Article>

@{
    ViewBag.Title = "List";
}

<div>
    <div class="row">
        @foreach (var article in Model)
        {
            <a class="article" href="@Url.Action("Details", "Article", new { @id = article.Id })">
                <div class="col-sm-6">
                    <article>
                        <header>
                            <h2>
                                @article.Title
                            </h2>
                        </header>
                        <p>
                            @article.Content
                        </p>
                        <footer class="pull-right">
                            <small class="author">
                                --author @article.Author.FullName
                            </small>
                        </footer>
                    </article>
                </div>
            </a>
        }
    </div>
</div>
<hr />

